* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
     height: 100%;
     width: 100%;
     background-color: black;
}
nav{
    background-color: rgb(32, 31, 31);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6%;
    width: 100%;
    /* position: fixed; */
}
.nav-links ul{
    /* background-color: rgb(63, 81, 164); */
    display: flex;
    list-style: none;
    gap: 3rem;
}
ul li a{
    text-decoration: none;
    color: white;
}
.buynow-btn button{
    padding: 0.2rem;
    background-color: transparent;
    border: solid red;
    color: white;
}

.hero-section{
     display: flex;
    flex-direction: column;
     justify-content: center; 
     align-items: center; 
    
    margin-top:5% ;
    color: red;
    /* background-color: aqua; */
    height: 70%;
    width: 30%;
    gap:2rem; 
    

    
}
section h1{
    font-size:4rem;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center */
}
 section button{
    padding: 0.5rem;
    background-color: transparent;
    color: white;
    border: solid red;
    margin-right: 68%;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(130, 207, 207);  */
    height: 50%;
    width: 100%;
    gap: 4rem;
    padding: 25px;
    /* margin-left: 30%; */
    color: white;
}
.card1 ,.card2,.card3{
height: 100%;
width: 20%;
 text-align: center;
  padding: 10px;
    /* background-color: aqua; */
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
img{
    height: 70%;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}
/* .card3{
 height: 100%;
 width: 20%;
  text-align: center;
   padding: 10px;
    background-color: darkmagenta;
}
.card2{
   height: 100%;
   width: 20%;
 text-align: center;
 padding: 10px;
    background-color: darkred;
} */

 .statics{
    height: 50%;
    width: 100%;
    color: white;
    text-align: center;
    /* background-color: blue; */
    
 }

   .maincard{
    height: 50%;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    /* background-color: blueviolet; */
 } 

  .nm{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
   
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
 } 
  .text1,.text2,.text3,.text4{
     border: 1px solid red;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
    /* background-color: aqua; */
 } 

  .catd{
    height: 50px;
    width: 50px;
    color: white;
    /* background-color: blueviolet; */
 } 

/* .main-circle{
    display: flex;
    background-color: rgb(44, 225, 34);
    height: 50%;
    gap: 110px;
}
.circle-cards{
    height: 200px;
    width: 130px;
    background-color: red;
    /* border-radius: 50%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
}
/* .circle{
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.circle-cards h2{
    display: flex;

 
} */ 